In [1]:
from sklearn.metrics import log_loss
import numpy as np
import pandas as pd

In [7]:
data_path = "../output/"
sub_2ndxgb = pd.read_csv(data_path + 'sub_2ndXGB_BM_10bagging_2017-04-19-23-47_52469.csv')
sub_2ndadet = pd.read_csv(data_path + 'sub_2ndADET_100bagging_0413_2017-04-14-18-16_52079.csv')


print sub_2ndxgb.shape
print sub_2ndadet.shape

(74659, 4)
(74659, 4)

In [12]:
tmp = (sub_2ndxgb[['low','medium','high']] + sub_2ndadet[['low','medium','high']])/2

In [14]:
tmp['listing_id'] = sub_2ndxgb.listing_id.values

In [16]:
sub_2ndxgb.head()

        low    medium      high  listing_id
0  0.399535  0.514874  0.085591     7142618
1  0.995371  0.003907  0.000723     7210040
2  0.955621  0.042762  0.001617     7174566
3  0.187095  0.553183  0.259722     7191391
4  0.819541  0.173078  0.007381     7171695

In [17]:
sub_2ndadet.head()

        low    medium      high  listing_id
0  0.417988  0.496432  0.085579     7142618
1  0.990743  0.007498  0.001758     7210040
2  0.932036  0.067317  0.000647     7174566
3  0.192498  0.499786  0.307716     7191391
4  0.867332  0.130871  0.001798     7171695

In [18]:
tmp.head()

        low    medium      high  listing_id
0  0.408762  0.505653  0.085585     7142618
1  0.993057  0.005702  0.001240     7210040
2  0.943828  0.055039  0.001132     7174566
3  0.189797  0.526485  0.283719     7191391
4  0.843436  0.151974  0.004589     7171695

In [19]:
tmp.to_csv('sub_2ndXGB_adet_xgb10bagging.csv', index=False)