In [1]:
import pandas as pd

In [6]:
temp = pd.read_csv('../output/sub_LightGBM_2017-02-16-13-56.csv')

In [4]:
# temp.columns = ['listing_id','high','low','medium']

In [9]:
temp.head()

   listing_id      high    medium       low
0     7142618  0.194005  0.165683  0.640312
1     7210040  0.000315  0.999097  0.000588
2     7103890  0.087769  0.146357  0.765875
3     7143442  0.024335  0.326055  0.649610
4     6860601  0.035620  0.653826  0.310554

In [10]:
temp['new_low'] = temp.medium.values
temp.head()

   listing_id      high    medium       low   new_low
0     7142618  0.194005  0.165683  0.640312  0.165683
1     7210040  0.000315  0.999097  0.000588  0.999097
2     7103890  0.087769  0.146357  0.765875  0.146357
3     7143442  0.024335  0.326055  0.649610  0.326055
4     6860601  0.035620  0.653826  0.310554  0.653826

In [11]:
temp1 = temp[['listing_id','high','low','new_low']]
temp1.head()

   listing_id      high       low   new_low
0     7142618  0.194005  0.640312  0.165683
1     7210040  0.000315  0.000588  0.999097
2     7103890  0.087769  0.765875  0.146357
3     7143442  0.024335  0.649610  0.326055
4     6860601  0.035620  0.310554  0.653826

In [12]:
temp1.columns = ['listing_id','high','medium','low']
temp1.head()

   listing_id      high    medium       low
0     7142618  0.194005  0.640312  0.165683
1     7210040  0.000315  0.000588  0.999097
2     7103890  0.087769  0.765875  0.146357
3     7143442  0.024335  0.649610  0.326055
4     6860601  0.035620  0.310554  0.653826

In [13]:
temp1.to_csv('../output/sub_LightGBM_2017-02-16-13-56_1.csv', index = None)