In [2]:
import pandas as pd
import time
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.cross_validation import StratifiedKFold, KFold
from sklearn.metrics import mean_absolute_error
from sklearn import preprocessing
import lightgbm as lgb
import gc
from scipy.stats import skew, boxcox
from bayes_opt import BayesianOptimization
from scipy import sparse
from sklearn.metrics import log_loss
from datetime import datetime
%matplotlib inline

D:\python\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
temp = pd.read_csv('../output/test_blend_LightGBM_2017-02-17-11-55.csv',header = None)

In [9]:
now = datetime.now()
df = pd.read_json(open("../input/test.json", "r"))
labels2idx ={'high': 0, 'low': 2, 'medium': 1}
sub_name = 'sub_LightGBM_2017-02-17-12-05_2.csv'

sub = pd.DataFrame()
sub["listing_id"] = df["listing_id"]

y_test = np.zeros((df.shape[0], 3))

for N in range(3):
    y_test[:,N] = pd.DataFrame(temp).iloc[:,[x for x in range(temp.shape[1]) if x%3 == N]].mean(axis=1)
    
for label in ["high", "medium", "low"]:
    sub[label] = y_test[:, labels2idx[label]]
sub.to_csv(sub_name, index=False)

In [8]:
print sub_name

../output/sub_LightGBM_2017-02-18-20-11.csv

In [10]:
temp.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.142233,0.472843,0.384924,0.146423,0.460336,0.393241,0.144076,0.457758,0.398165,0.140108,0.458645,0.401246,0.147229,0.454248,0.398524
1,0.083002,0.084609,0.832389,0.075585,0.087898,0.836518,0.079085,0.088762,0.832154,0.071214,0.080446,0.848341,0.074564,0.079131,0.846305
2,0.026843,0.252304,0.720853,0.023016,0.246377,0.730607,0.022354,0.247889,0.729756,0.020368,0.211107,0.768525,0.023151,0.225489,0.751359
3,0.113175,0.394410,0.492415,0.111054,0.375367,0.513579,0.121882,0.373102,0.505017,0.127177,0.400091,0.472731,0.120944,0.387231,0.491825
4,0.036062,0.234515,0.729423,0.035782,0.229166,0.735052,0.030174,0.227324,0.742502,0.034584,0.231442,0.733974,0.034967,0.238879,0.726154

In [28]:
part3 = temp.loc[:,[6,7,8]]
sub = pd.DataFrame()
sub["listing_id"] = df["listing_id"].values
part3.head()

          6         7         8
0  0.144076  0.457758  0.398165
1  0.079085  0.088762  0.832154
2  0.022354  0.247889  0.729756
3  0.121882  0.373102  0.505017
4  0.030174  0.227324  0.742502

In [29]:
part3.columns = ["high", "medium", "low"]
for label in ["high", "medium", "low"]:
    sub[label] = part3[label]
sub.head()

   listing_id      high    medium       low
0     7142618  0.144076  0.457758  0.398165
1     7210040  0.079085  0.088762  0.832154
2     7103890  0.022354  0.247889  0.729756
3     7143442  0.121882  0.373102  0.505017
4     6860601  0.030174  0.227324  0.742502

In [31]:
sub.to_csv('sub_LightGBM_2017-02-17-12-05_part3.csv', index=False)