In [1]:
import time
import numpy as np
import pandas as pd

from scipy import sparse
from datetime import datetime
from sklearn import preprocessing
from scipy.stats import skew, boxcox,boxcox_normmax
from sklearn.model_selection import train_test_split, StratifiedKFold, KFold
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from bayes_opt import BayesianOptimization
from sklearn.metrics import log_loss

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Load Data

In [2]:
data_path = "../input/"
train_file = data_path + "train.json"
test_file = data_path + "test.json"
train_df = pd.read_json(train_file).reset_index()
test_df = pd.read_json(test_file).reset_index()
ntrain = train_df.shape[0]
print train_df.shape
print test_df.shape
print ntrain

(49352, 16)
(74659, 15)
49352

In [3]:
train_df['FE_features'] = train_df["features"]\
                        .apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))\
                        .apply(lambda x: x.lower())
test_df['FE_features'] = test_df["features"]\
                        .apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))\
                        .apply(lambda x: x.lower())

print(train_df["FE_features"].head())
# tfidf = CountVectorizer(stop_words='english', max_features=200)
# tr_sparse = tfidf.fit_transform(train_df["FE_features"])
# te_sparse = tfidf.transform(test_df["FE_features"])

# sparse_features = tfidf.get_feature_names()

0
1    doorman elevator fitness_center cats_allowed d...
2    laundry_in_building dishwasher hardwood_floors...
3                               hardwood_floors no_fee
4                                              pre-war
Name: FE_features, dtype: object

In [6]:
train_df[['features',"FE_features"]].head(20)

,features,FE_features
0,[],
1,"[Doorman, Elevator, Fitness Center, Cats Allow...",doorman elevator fitness_center cats_allowed d...
2,"[Laundry In Building, Dishwasher, Hardwood Flo...",laundry_in_building dishwasher hardwood_floors...
3,"[Hardwood Floors, No Fee]",hardwood_floors no_fee
4,[Pre-War],pre-war
5,[],
6,"[prewar, elevator, Dogs Allowed, Cats Allowed,...",prewar elevator dogs_allowed cats_allowed lowr...
7,"[Doorman, Elevator, Pre-War, Terrace, Laundry ...",doorman elevator pre-war terrace laundry_in_un...
8,"[Cats Allowed, Dogs Allowed, Elevator, Laundry...",cats_allowed dogs_allowed elevator laundry_in_...
9,"[Dishwasher, Hardwood Floors]",dishwasher hardwood_floors
10,[],
11,"[prewar, dishwasher, HIGHRISE, ROOFDECK, EAT I...",prewar dishwasher highrise roofdeck eat_in_kit...
12,"[Doorman, Elevator, Laundry in Building, No Fee]",doorman elevator laundry_in_building no_fee
13,"[Swimming Pool, Doorman, Fitness Center, No Fe...",swimming_pool doorman fitness_center no_fee do...
14,"[Elevator, Multi-Level, Laundry in Building, D...",elevator multi-level laundry_in_building dishw...
15,"[Doorman, Elevator, Fitness Center, Laundry in...",doorman elevator fitness_center laundry_in_bui...
16,[Hardwood Floors],hardwood_floors
17,"[prewar, LOWRISE, EAT IN KITCHEN, SIMPLEX, HAR...",prewar lowrise eat_in_kitchen simplex hardwood
18,"[No Fee, Cats Allowed, Dogs Allowed]",no_fee cats_allowed dogs_allowed
19,"[Cats Allowed, Dogs Allowed]",cats_allowed dogs_allowed

In [109]:
import re, nltk
from sklearn.feature_extraction.text import CountVectorizer        
from nltk.stem.porter import PorterStemmer

#######
# based on http://www.cs.duke.edu/courses/spring14/compsci290/assignments/lab02.html
stemmer = PorterStemmer()
def stem_tokens(tokens, stemmer):
    stemmed = []
    for item in tokens:
        stemmed.append(stemmer.stem(item))
    return stemmed

def tokenize(text):
    # remove non letters
    text = re.sub("[^a-zA-Z]", " ", text)
    # tokenize
    tokens = nltk.word_tokenize(text)
    # stem
    stems = stem_tokens(tokens, stemmer)
    return stems
######## 

vectorizer = CountVectorizer(
    analyzer = 'word',
    tokenizer = tokenize,
    lowercase = True,
    stop_words = 'english',
    max_features = 400
)

In [28]:
tr_sparse_tmp = vectorizer.fit_transform(train_df["description"])

In [110]:
train_df['clean_description'] = train_df['description'].apply(lambda x: x.replace('<p>', ''))
train_df['clean_description'] = train_df['clean_description'].apply(lambda x: x.replace('<a', ''))
train_df['clean_description'] = train_df['clean_description'].apply(lambda x: x.replace('website_redacted', '')) 
train_df['clean_description'] = train_df['clean_description'].apply(lambda x: x.replace('<br />', ''))
train_df['clean_description'] = train_df['clean_description'].apply(lambda x: x.replace('<br/>', ''))
train_df['clean_description'] = train_df['clean_description'].apply(lambda x: x.replace('&amp;', ''))

In [111]:
corpus_data_features = vectorizer.fit_transform(
    train_df.clean_description.tolist())

In [112]:
corpus_data_features_nd = corpus_data_features.toarray()
corpus_data_features_nd.shape

(49352, 400)

In [113]:
vocab = vectorizer.get_feature_names()
# Sum up the counts of each vocabulary word
dist = np.sum(corpus_data_features_nd, axis=0)
    
# For each, print the vocabulary word and the number of times it 
# appears in the data set
for tag, count in zip(vocab, dist):
    print count, tag

1575 abund
9752 access
1497 actual
2582 addit
1845 air
1411 alcov
3890 allow
7835 amaz
9594 amen
2324 ampl
5470 ani
2220 anytim
48336 apart
20704 applianc
4115 appoint
2283 apt
11636 area
4568 art
1671 associ
2240 attend
9182 avail
2935 ave
3333 avenu
5908 away
3194 b
2818 balconi
7305 bar
9879 bath
18694 bathroom
13675 beauti
6916 bed
36059 bedroom
5338 best
1780 big
2566 bike
1277 billiard
4171 blank
8563 block
1415 boast
4648 bond
13851 br
6139 brand
1531 breakfast
3930 brick
3915 bright
9550 broker
1930 brooklyn
1804 bu
37068 build
1448 built
5284 c
4980 cabinet
2537 cabinetri
2536 cafe
15119 ceil
10197 center
8327 central
1606 chang
2151 charm
1440 chef
1975 chelsea
1392 children
10923 citi
2817 clean
7459 close
19581 closet
3423 club
23973 com
3676 come
1624 comfort
2491 complet
6469 concierg
1337 condit
14707 contact
6402 conveni
2506 convert
1520 cooper
3504 coopercoop
2479 corner
7166 counter
4069 countertop
1710 court
1336 crown
4476 custom
2444 d
2048 day
3853 deal
7540 deck
3291 design
5694 dine
11008 dishwash
1934 distanc
2390 district
2218 div
2131 don
2459 door
13326 doorman
1541 downtown
1846 dri
7880 dryer
1379 duplex
4549 e
3386 easi
1627 easili
9890 east
1758 eat
1788 effect
1636 eleg
10759 elev
2024 elliman
15138 email
1978 end
3607 enjoy
2947 entertain
6088 equal
3724 equip
7788 estat
3874 everi
2281 everyth
1695 excel
4073 exclus
1375 experi
3649 expos
2931 exposur
1390 express
2103 extra
1806 f
1581 face
2796 facil
2145 fantast
22178 featur
12168 fee
3869 feel
1292 financi
5051 finish
1835 fireplac
11268 fit
1807 fixtur
3429 flex
36004 floor
2271 food
1607 foot
7943 free
3741 friendli
1465 ft
4646 fulli
1509 furnish
1271 furnitur
1670 ga
4136 garag
2505 garden
1476 glass
2256 good
4024 gorgeou
1764 gourmet
2170 grand
12035 granit
16267 great
1766 groceri
1612 guarantor
2499 gut
5320 gym
13984 ha
1413 hard
18499 hardwood
1908 health
5589 heart
4204 heat
3613 height
3038 help
15706 high
2766 hill
9647 home
2495 hot
7326 hour
7159 hous
1994 hr
4327 href
1805 hudson
6174 huge
1300 id
2154 img
3051 immedi
17195 includ
1362 incred
1758 indoor
1514 info
9836 inform
1526 intercom
1464 j
7663 just
18202 kagglemanag
3628 king
33309 kitchen
1980 l
2974 landscap
18196 larg
16453 laundri
3340 layout
2034 leas
2302 let
11359 li
1478 life
11729 light
3041 like
7775 line
9468 list
20998 live
2039 ll
3150 lobbi
26416 locat
1603 loft
2258 long
4339 look
5360 lot
7037 loung
2579 love
2580 low
11323 luxuri
5364 m
1326 mail
2044 maintain
1471 major
3843 make
1276 manag
6802 manhattan
3471 mani
12556 marbl
4199 market
2523 massiv
1342 master
4572 microwav
4347 midtown
3507 minut
1420 miron
1512 miss
6880 modern
1468 mold
4549 month
1952 murray
2006 n
6296 natur
1701 nd
4163 near
1485 nearbi
3083 need
6649 neighborhood
2032 net
27748 new
4858 newli
2069 nice
2224 nightlif
1407 notic
3218 nyc
2577 oak
9019 offer
1400 offic
1308 ok
4273 onli
6628 open
6625 opportun
1384 option
4332 outdoor
2247 overs
2633 p
17346 park
3745 perfect
7527 pet
1620 photo
1755 pictur
3490 place
1289 plank
1616 playroom
8012 pleas
4182 plenti
1532 plu
3753 pool
2116 pre
4414 price
5394 prime
10696 privat
3074 properti
2005 provid
1756 public
1746 q
5598 queen
1914 question
2642 quiet
2703 r
1779 rd
8858 real
1374 recent
1492 recess
20865 renov
6290 rent
3319 rental
18242 renthop
6345 resid
12855 restaur
3175 right
2832 rise
4162 river
5886 roof
3278 rooftop
25947 room
19445 s
7477 schedul
1358 screen
2631 search
1838 secur
4714 separ
8716 servic
2439 set
1743 share
11234 shop
2543 short
1629 shower
1332 similar
5523 site
1271 situat
13108 size
2015 south
20548 space
11435 spaciou
1857 special
1982 spectacular
1278 sq
4306 squar
2155 src
5185 st
17347 stainless
4240 state
3072 station
16571 steel
7644 step
1686 stone
7646 storag
2436 store
7400 street
1280 strong
9198 studio
3993 stun
2173 style
1537 subject
9388 subway
3637 sun
2620 sunlight
2567 sunni
5780 super
1762 supermarket
5785 support
1974 surround
1497 swim
4264 t
2152 tabl
4432 target
1631 tenant
3954 terrac
11220 text
7824 th
1688 theater
44800 thi
5831 tile
6402 time
7253 today
4804 ton
1414 tour
10776 train
5492 transport
1978 tree
2906 true
1723 tub
4530 ul
1388 union
2231 uniqu
17437 unit
3249 updat
5505 upper
3608 valet
4754 veri
1328 video
26165 view
4153 villag
4616 w
9474 walk
4223 wall
2714 war
8281 washer
3282 water
1968 welcom
7376 west
3200 white
2169 width
16579 window
5593 wood
1993 work
1652 www
1935 x
1448 year
10566 york

In [125]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import sent_tokenize

/home/xujin/AI/anaconda2/lib/python2.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [171]:
def description_sentiment(sentences):
    analyzer = SentimentIntensityAnalyzer()
    result = []
    for sentence in sentences:
        vs = analyzer.polarity_scores(sentence)
        result.append(vs)
    return pd.DataFrame(result).mean()

sdf = train_df.sample(50)
sdf['description_tokens'] = sdf['clean_description'].apply(sent_tokenize)
sdf['num'] = sdf['description_tokens'].apply(len)
sdf = pd.concat([sdf,sdf['description_tokens'].apply(description_sentiment)],axis=1)

In [172]:
sdf.head()

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,...,price,street_address,FE_features,clean_description,description_tokens,num,compound,neg,neu,pos
6277,114305,1.0,0,08c77edf4b9f4ab2929bf41d202a1976,2016-04-08 04:29:57,,West 50th Street,"[Fitness Center, Cats Allowed, Dogs Allowed]",low,40.7625,...,3145,305 West 50th Street,fitness_center cats_allowed dogs_allowed,,[ ],1,0.000000,0.000000,0.00000,0.00000
8983,120368,1.0,0,0,2016-04-16 01:28:32,Great apartment. Priced to rent. Call Ariel Am...,Lexington Avenue,"[Dogs Allowed, Cats Allowed]",low,40.7416,...,2400,95 Lexington Avenue,dogs_allowed cats_allowed,Great apartment. Priced to rent. Call Ariel Am...,"[Great apartment., Priced to rent., Call Ariel...",3,0.208300,0.000000,0.73200,0.26800
7080,116046,1.0,3,297160caf8a88c10718b492d4672c6b4,2016-04-21 05:17:19,NO FEE!! WELL MAINTAINED ELEVATOR BUILDING !! ...,E 30 St.,"[Elevator, Laundry in Building, Dishwasher, Ha...",low,40.7426,...,4795,230 E 30 St.,elevator laundry_in_building dishwasher hardwo...,NO FEE!! WELL MAINTAINED ELEVATOR BUILDING !! ...,"[NO FEE!!, WELL MAINTAINED ELEVATOR BUILDING !...",8,0.117938,0.197625,0.49800,0.17950
2570,10588,1.0,2,f29591839a75f4f70544a5f1a9c982fc,2016-06-02 06:51:28,"Located Right off Lexington ave, this Luxury 2...",East 34th Street,"[Roof Deck, Doorman, Elevator, Pre-War, Laundr...",low,40.7469,...,3400,115 East 34th Street,roof_deck doorman elevator pre-war laundry_in_...,"Located Right off Lexington ave, this Luxury 2...","[Located Right off Lexington ave, this Luxury ...",4,0.224150,0.116500,0.74325,0.14025
37922,7407,1.0,2,65f6788d6d66716fbd8a4ef6d27d6f3f,2016-06-07 05:26:48,NO FEE**ULTRA LUXURY CONV 2 BEDROOM/ 1 BATHROO...,Crescent St.,"[Roof Deck, Doorman, Elevator, Fitness Center,...",medium,40.7487,...,2800,43-10 Crescent St.,roof_deck doorman elevator fitness_center laun...,NO FEE**ULTRA LUXURY CONV 2 BEDROOM/ 1 BATHROO...,[NO FEE**ULTRA LUXURY CONV 2 BEDROOM/ 1 BATHRO...,5,0.327080,0.023800,0.87040,0.10580

In [164]:
sdf.fillna(0, inplace=True)

In [165]:
sdf.loc[16354]

index                                                             25333
bathrooms                                                             2
bedrooms                                                              1
building_id                            e87f1236b102798c1fa104a372800444
created                                             2016-06-18 01:41:01
description
display_address                                        Greenwich Street
features              [Doorman, Prewar, Fitness Center, Elevator, Ga...
interest_level                                                      low
latitude                                                        40.7321
listing_id                                                      7179652
longitude                                                       -74.008
manager_id                             b7de4cb395920136663132057fa89d84
photos                                                               []
price                                                              5995
street_address                                     666 Greenwich Street
FE_features           doorman prewar fitness_center elevator garage ...
clean_description
description_tokens                                                   []
compound                                                              0
neg                                                                   0
neu                                                                   0
pos                                                                   0
Name: 16354, dtype: object

In [167]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 35246 to 24652
Data columns (total 23 columns):
index                 5000 non-null int64
bathrooms             5000 non-null float64
bedrooms              5000 non-null int64
building_id           5000 non-null object
created               5000 non-null object
description           5000 non-null object
display_address       5000 non-null object
features              5000 non-null object
interest_level        5000 non-null object
latitude              5000 non-null float64
listing_id            5000 non-null int64
longitude             5000 non-null float64
manager_id            5000 non-null object
photos                5000 non-null object
price                 5000 non-null int64
street_address        5000 non-null object
FE_features           5000 non-null object
clean_description     5000 non-null object
description_tokens    5000 non-null object
compound              5000 non-null float64
neg                   5000 non-null float64
neu                   5000 non-null float64
pos                   5000 non-null float64
dtypes: float64(7), int64(4), object(12)
memory usage: 937.5+ KB