In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import euclidean_distances
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
train = pd.read_pickle('../input/' + 'train_2017-02-16-20-51.pkl')
test = pd.read_pickle('../input/' + 'test_2017-02-16-20-51.pkl')
features_to_use = pd.read_pickle('../input/' + 'featurestouse_2017-02-16-20-51.pkl')
# sparse_cols = pd.read_pickle('../input/' + 'sparse_2017-02-16-20-51.pkl')
tr_sparse = pd.read_pickle('../input/' + 'tr_sparse_2017-02-16-20-51.pkl')
te_sparse = pd.read_pickle('../input/' + 'te_sparse_2017-02-16-20-51.pkl')


test_listing = pd.read_pickle('../input/' + 'listing_id.pkl')

train_y = pd.read_pickle('../input/' + 'y_2017-02-16-20-51.pkl') 
print train.shape, test.shape

(49352, 45) (74659, 44)

In [46]:
train.loc[:10,['latitude','longitude','interest_level']]

    latitude  longitude interest_level
0    40.7145   -73.9425         medium
1    40.7947   -73.9667            low
2    40.7388   -74.0018           high
3    40.7539   -73.9677            low
4    40.8241   -73.9493            low
5    40.7429   -74.0028         medium
6    40.8012   -73.9660            low
7    40.7427   -73.9957            low
8    40.8234   -73.9457         medium
9    40.7278   -73.9808            low
10   40.7769   -73.9467            low

In [47]:
tmp = euclidean_distances(train.loc[:10,['latitude','longitude']], train.loc[:10,['latitude','longitude']])

In [48]:
tmp1= pd.DataFrame(tmp)
tmp1

,0,1,2,3,4,5,6,7,8,9,10
0,0.000000,0.083772,0.064086,0.046770,0.109811,0.066653,0.089828,0.060212,0.108947,0.040544,0.062541
1,0.083772,0.000000,0.066006,0.040812,0.034163,0.063138,0.006538,0.059540,0.035562,0.068370,0.026774
2,0.064086,0.066006,0.000000,0.037294,0.100162,0.004220,0.071940,0.007240,0.101510,0.023707,0.066990
3,0.046770,0.040812,0.037294,0.000000,0.072571,0.036783,0.047331,0.030157,0.072899,0.029203,0.031145
4,0.109811,0.034163,0.100162,0.072571,0.000000,0.097240,0.028343,0.093696,0.003667,0.101321,0.047272
5,0.066653,0.063138,0.004220,0.036783,0.097240,0.000000,0.068943,0.007103,0.098695,0.026684,0.065599
6,0.089828,0.006538,0.071940,0.047331,0.028343,0.068943,0.000000,0.065607,0.030082,0.074877,0.031032
7,0.060212,0.059540,0.007240,0.030157,0.093696,0.007103,0.065607,0.000000,0.094934,0.021072,0.059755
8,0.108947,0.035562,0.101510,0.072899,0.003667,0.098695,0.030082,0.094934,0.000000,0.101840,0.046511
9,0.040544,0.068370,0.023707,0.029203,0.101321,0.026684,0.074877,0.021072,0.101840,0.000000,0.059780
10,0.062541,0.026774,0.066990,0.031145,0.047272,0.065599,0.031032,0.059755,0.046511,0.059780,0.000000

In [49]:
tmp2 = pd.DataFrame(np.sort(tmp,axis = 1))
tmp2

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,0.040544,0.046770,0.060212,0.062541,0.064086,0.066653,0.083772,0.089828,0.108947,0.109811
1,0.0,0.006538,0.026774,0.034163,0.035562,0.040812,0.059540,0.063138,0.066006,0.068370,0.083772
2,0.0,0.004220,0.007240,0.023707,0.037294,0.064086,0.066006,0.066990,0.071940,0.100162,0.101510
3,0.0,0.029203,0.030157,0.031145,0.036783,0.037294,0.040812,0.046770,0.047331,0.072571,0.072899
4,0.0,0.003667,0.028343,0.034163,0.047272,0.072571,0.093696,0.097240,0.100162,0.101321,0.109811
5,0.0,0.004220,0.007103,0.026684,0.036783,0.063138,0.065599,0.066653,0.068943,0.097240,0.098695
6,0.0,0.006538,0.028343,0.030082,0.031032,0.047331,0.065607,0.068943,0.071940,0.074877,0.089828
7,0.0,0.007103,0.007240,0.021072,0.030157,0.059540,0.059755,0.060212,0.065607,0.093696,0.094934
8,0.0,0.003667,0.030082,0.035562,0.046511,0.072899,0.094934,0.098695,0.101510,0.101840,0.108947
9,0.0,0.021072,0.023707,0.026684,0.029203,0.040544,0.059780,0.068370,0.074877,0.101321,0.101840
10,0.0,0.026774,0.031032,0.031145,0.046511,0.047272,0.059755,0.059780,0.062541,0.065599,0.066990

In [55]:
index_low = train[train['interest_level'] == 'low'].index
index_medium = train[train['interest_level'] == 'medium'].index
index_high = train[train['interest_level'] == 'high'].index

In [59]:
tmp_dist = euclidean_distances(train.loc[:10,['latitude','longitude']], train.loc[index_medium[:10],['latitude','longitude']])

In [60]:
tmp3 = pd.DataFrame(np.sort(tmp_dist,axis = 1))
tmp3

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.043308,0.046442,0.056713,0.058806,0.065832,0.066653,0.079816,0.082324,0.108947
1,0.004632,0.010559,0.027420,0.035562,0.050907,0.051365,0.053528,0.061765,0.063138,0.083772
2,0.004220,0.008205,0.015377,0.022737,0.027969,0.057065,0.061628,0.061794,0.064086,0.101510
3,0.011982,0.016197,0.025758,0.028214,0.029830,0.036300,0.036750,0.036783,0.046770,0.072899
4,0.003667,0.038619,0.043546,0.051308,0.084006,0.085010,0.086787,0.095851,0.097240,0.109811
5,0.000000,0.009954,0.012232,0.023401,0.028518,0.053930,0.058841,0.060504,0.066653,0.098695
6,0.011146,0.015240,0.030082,0.032499,0.056721,0.057898,0.060015,0.067957,0.068943,0.089828
7,0.004168,0.007103,0.010302,0.016300,0.021434,0.050962,0.054555,0.055088,0.060212,0.094934
8,0.000000,0.039883,0.045319,0.050800,0.084488,0.086465,0.087454,0.096958,0.098695,0.108947
9,0.014966,0.017074,0.017363,0.026684,0.029378,0.040544,0.054418,0.062086,0.063740,0.101840
10,0.005391,0.024942,0.031974,0.043020,0.046511,0.047317,0.054698,0.060237,0.062541,0.065599

In [64]:
tmp_dist = euclidean_distances(train.loc[:10,features_to_use], train.loc[index_medium[:10],features_to_use])

In [69]:
tmp4 = pd.DataFrame(np.sort(tmp_dist,axis = 1)).loc[:,:3]
tmp4

              0             1             2             3
0      0.000000   4611.360108   6160.037266   8361.730490
1   3692.603935   5814.866685   6137.675527   9325.666016
2   5695.256227   5695.547986   6104.373848   8532.493097
3   4252.397736   5315.907029   6980.304745   7722.670488
4   1001.309529   4761.863141   6436.982685   7879.515546
5      0.000000   4490.934778   5234.440708   7144.551969
6   5097.687038   8405.028383  10744.357005  10747.601065
7   8947.463734  11635.479497  12419.727865  13414.985997
8      0.000000   4611.360108   5022.059653   7153.097122
9   7845.350413   8607.303353   9841.691423  10074.602592
10  7985.626276  10643.301579  12840.928199  13275.907114